* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #faf7f2;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    border-bottom: 2px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6b4f31;
}

.logo-img {
    height: 45px; 
    width: auto;
}

.logo-text {
    height: 35px;
    width: auto;

}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6b4f31;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #6b4f31;
    font-weight: 600;
}

nav a:hover {
    color: #3d2b17;
}

.hero {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-align: center;
}

.hero-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.hero-text {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem 3rem;
  border-radius: 1rem;
  backdrop-filter: blur(3px);
}


.catalogo {
    padding: 60px 40px;
    text-align: center;
}

.catalogo h2 {
    font-size: 2.2rem;
    color: #6b4f31;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0 5px;
    color: #6b4f31;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.precio {
    font-weight: bold;
    color: #4f6a37;
    font-size: 1.1rem;
}

.proceso {
    padding: 60px 40px;
    text-align: center;
    background: #f3efe9;
}

.proceso img {
    width: 350px;
    margin-top: 20px;
    border-radius: 12px;
}

.nosotros {
    padding: 60px 40px;
    text-align: center;
}


.contacto {
    padding: 60px 40px;
    text-align: center;
}

.wsp {
    background: #25d366;
}

.wsp:hover {
    background: #1ca955;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    background: #fff;
    border-top: 2px solid #eaeaea;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav a {
        margin: 10px;
    }

    .hero {
        height: auto;
        padding: 40px 20px;
    }
}
