* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #faf7f2;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    border-bottom: 2px solid #eaeaea;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6b4f31;
}

.logo-img {
    height: 45px; 
    width: auto;
}

.logo-text {
    height: 35px;
    width: auto;

}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6b4f31;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #6b4f31;
    font-weight: 600;
}

nav a:hover {
    color: #3d2b17;
}


.hero {
    height: 60vh;
    background: url('img/harina.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero-text {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 12px;
    max-width: 600px;
    text-align: center;
}

.hero h1 {
    font-size: 2.2rem;
    color: #6b4f31;
}

.hero p {
    margin: 15px 0;
}

.btn {
    display: inline-block;
    background: #6b8e4e;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    background: #4f6a37;
}

.catalogo {
    padding: 60px 40px;
    text-align: center;
}

.catalogo h2 {
    font-size: 2.2rem;
    color: #6b4f31;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0 5px;
    color: #6b4f31;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.precio {
    font-weight: bold;
    color: #4f6a37;
    font-size: 1.1rem;
}

.proceso {
    padding: 60px 40px;
    text-align: center;
    background: #f3efe9;
}

.proceso img {
    width: 350px;
    margin-top: 20px;
    border-radius: 12px;
}

.nosotros {
    padding: 60px 40px;
    text-align: center;
}


.contacto {
    padding: 60px 40px;
    text-align: center;
}

.wsp {
    background: #25d366;
}

.wsp:hover {
    background: #1ca955;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    background: #fff;
    border-top: 2px solid #eaeaea;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav a {
        margin: 10px;
    }

    .hero {
        height: auto;
        padding: 40px 20px;
    }
}
